
.todo-list {
  background: whitesmoke;
  margin: 10px;
  border: 1px solid dimgrey;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}
.todo-list_title {
  background: cadetblue;
  color: whitesmoke;
  padding: 14px;
  text-align: center;
  margin: 0;
  font-weight: 700;
}

ul {
  padding: 0;
  margin-bottom: 0;
}
li {
  display: flex;
  align-items: center;
  align-content: space-between;
  width: 100%;
  line-height: 1.5;
  cursor: pointer;
  padding: 10px;
}

li.even {
  background: #5f9ea029;
}

li.done {
  text-decoration: line-through;
}
