/* styles in src/style directory are applied to the whole page */
body {
  font-family: 'Roboto', sans-serif;
}
.todo-list {
  background: lightgray;
  margin: 10px;
  border: 1px solid dimgrey;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
ul {
  padding-left: 0;
}
li {
  display: flex;
  align-items: center;
  align-content: space-between;
  width: 100%;
  line-height: 1.5;
}

li.done {
  text-decoration: line-through;
}
